:root {
    --first-title-color: #212121;
    --second-title-color: #757575;
    --accent-color: #2196F3;
}


body {
    color: var(--first-title-color);
    background-color:#F5F5F5;
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}

.list {
    list-style: none;
    }

.logo {
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: #000000;
    }
.logo .logo-footer: :hover {
    color: var(--accent-color: #2196F3;)
}

.web {
    color: #2196F3;
}

.site-nav .link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--first-title-color);

}

.site-nav .link:hover, .site-nav .link:focus {
    color: var(--accent-color);
    }

.site-nav .link.current {
    color: var(--accent-color);
}

.site-сontact .link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--second-title-color);
}

.site-сontact .link:hover,
.site-сontact .link:focus {
    color: var(--accent-color);
}

/*HERO------------------*/

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}

/*SECTION-------------*/

.title-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    color: var(--first-title-color);
   
}

.advantage-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--first-title-color);
    
  }

.advantage-dsc {
    font-size: 14px;
    line-height: 1.71;
    color: var(--second-title-color);
}

.team-item-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    color: var(--first-title-color);
}

.team-item-text {
    font-size: 16px;
    line-height: 1.19;
    color: var(--second-title-color);
}

/*PORTFOLIO-------------*/ 

.link {
    text-decoration: none;
}

.project-item-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--first-title-color);
    text-decoration: none;
}

.project-item-text {
    font-size: 16px;
    line-height: 1.88;
    color: var(--second-title-color);
    text-decoration: none;
}

/*BUTTON------------------*/

.button {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--first-title-color);
    background-color: #F5F4FA;
    cursor: pointer
}

.project-btn .button:hover,
.project-btn .button:focus{
    color: #FFFFFF;
    background-color: var(--accent-color);
}


.button.current {
    color: #FFFFFF
    background-color: var(--accent-color);
}

.hero-btn {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: var(--accent-color);
    cursor: pointer;
    display: block;
    margin: 0 auto;
    border: none;
}

.hero-btn:hover,
.hero-btn:focus,
.hero-btn:active {
    background-color: #188ce8;
}

/* FOOTER--------------------*/

.contacts{
    background-color: #2F303A;
}

.studio {
    color: #FFFFFF;
}

.link {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
}

.contacts-item {
    font-style: inherit;
    color: #FFFFFF;
}

.contacts-list {
    list-style: none;
}

.contacts-address {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    }

.contacts-link-bold {
    color: #FFFFFF;
}
